.text-center{
    text-align: center;
    margin-top: 45px;
}

.mx-auto{
    margin:45px;
}

.flex{
  display: flex;
}
.flex-col{
 flex-direction: column;
}
.items-center{
    align-items: center;
}